{% extends "layout.html" %}

{% block stylesheets %}
    {{ super() }}
    <link href="{{ url_for('chess.static', filename='css/style.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ super() }}
    <script src="{{ url_for('chess.static', filename='js/models.js') }}"></script>
    <script src="{{ url_for('chess.static', filename='js/views.js') }}"></script>
    <script src="{{ url_for('chess.static', filename='js/game.js') }}"></script>
    <script src="{{ url_for('chess.static', filename='js/ui.js') }}"></script>
{% endblock %}

{% block content %}
    <div id="wrap">
        <div class="container">
            <div class="page-header">
                <h1>Simple Python Web Chess Game</h1>
            </div>

            <p class="lead">
                Welcome to SimplePyWebChess project demo. You can browse source code at <a href="https://github.com/zajonc5/SimplePyWebChess" target="_blank">GitHub</a>.
                Feel free to submit any bugs <a href="https://github.com/zajonc5/SimplePyWebChess/issues" target="_blank">here</a>. Enjoy!
            </p>

            <div class="game">
                <div class="options">
                    <h2>Game options:</h2>

                    <div class="row-fluid">
                        <div class="span6">
                            <h4>
                                <img class="player_marker white" src="{{ url_for('chess.static', filename='img/King.png') }}"/>
                                White player
                            </h4>

                            <div>
                                <label class="radio">
                                    <input type="radio" name="player_white_human" value="true" checked>
                                    Human
                                </label>
                                <label class="radio">
                                    <input type="radio" name="player_white_human" value="false">
                                    Computer
                                </label>
                            </div>
                        </div>
                        <div class="span6">
                            <h4>
                                <img class="player_marker black" src="{{ url_for('chess.static', filename='img/KingB.png') }}"/>
                                Black player
                            </h4>

                            <div>
                                <label class="radio">
                                    <input type="radio" name="player_black_human" value="true">
                                    Human
                                </label>
                                <label class="radio">
                                    <input type="radio" name="player_black_human" value="false" checked>
                                    Computer
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6 offset3">
                            <input type="button" id="startgame" class="btn btn-success" value="Start new game" />
                        </div>
                    </div>

                    <hr/>

                    <h3>Testing</h3>

                    <div class="form-inline">
                        <select id="test_selector">
                            <option value="chess/game/whites_check1">Whites check 1</option>
                            <option value="chess/game/whites_checkmate1">Whites checkmate 1</option>
                            <option value="chess/game/whites_castling_short">Whites castling (short)</option>
                            <option value="chess/game/whites_castling_long">Whites castling (long)</option>
                        </select>

                        <input type="button" id="starttest" class="btn btn-info btn-small" value="Run selected test" />
                    </div>
                </div>

                <div class="captures black_captures"></div>
                <div class="board"></div>
                <div class="captures white_captures"></div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}