.game .board {
    float: left;
    width: 500px;
    padding: 41px 0 0 36px;
    background: url('../img/board.png') no-repeat;
}
.game .board table {
    border: none;
    margin: 0;
    padding: 0;
}
.game .board table td {
    width: 53px;
    height: 53px;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
.game .board table td .piece, .game .board table td .piece img {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: pointer;
}
.game .board table td .piece.ui-draggable-dragging {
    transform:rotate(20deg);
    -ms-transform:rotate(20deg); /* IE 9 */
    -webkit-transform:rotate(20deg); /* Safari and Chrome */
}
.game .board .square-hover {
    opacity: 0.3;
    background-color: #ff0;
}
.game .board .square-ok {
    opacity: 0.3;
    background-color: #0f0;
}
.game .board .square-move-hint {
    opacity: 0.2;
    background-color: #0fa;
}
.game .captures {
    float: left;
    clear: left;
    height: 100px;
    width: 460px;
    margin: 0 0 0 41px;
}
.game .captures .piece {
    float: left;
    margin: 0 0.6px 0;
    padding: 0;
}
.game .black_captures {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}
.game .black_captures .piece {
    -webkit-transform: scaleY(-1);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
}

.game .options {
    float: right;
    height: 511px;
    width: 400px;
}

.game .options .player_marker {
    opacity: 0.1;
}

.game .options .player_marker.active {
    opacity: 1;
    box-shadow: 0px 0px 5px #000;
}

.game .options .player_marker.check {
    box-shadow: 0px 0px 5px #a00;
    border: 1px solid #a00;
    margin: -1px;
}

.game .options .player_marker.checkmate {
    box-shadow: 0px 0px 5px #a00;
    border: 1px solid #a00;
    background-color: #a00;
    margin: -1px;
}