<html>
    <head>
        <title>{% block title %}Chess{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
        <link href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

        {% block head %}{% endblock %}

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% block content %}
            <h1>Index</h1>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ url_for('static', filename='libs/jquery/jquery-2.0.0.min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/backbone/underscore-min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/backbone/backbone-min.js') }}"></script>
            <script src="{{ url_for('static', filename='libs/jquery-ui/js/jquery-ui-1.10.2.custom.min.js') }}"></script>
        {% endblock %}
    </body>
</html>